<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta name="renderer" content="webkit|ie-comp|ie-stand">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<link rel="stylesheet" type="text/css" th:href="@{/static/h-ui/css/H-ui.min.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/static/h-ui.admin/css/H-ui.admin.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/lib/Hui-iconfont/1.0.8/iconfont.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/static/h-ui.admin/skin/default/skin.css}" id="skin" />
<link rel="stylesheet" type="text/css" th:href="@{/static/h-ui.admin/css/style.css}" />
<title>订单详情</title>
</head>
<body>
	<article class="page-container form form-horizontal">
		<div class="row cl">
			<label class="form-label col-xs-3 col-sm-3">是否累计：</label>
			<div class="formControls col-xs-8 col-sm-8" style="padding-top: 3px;">
				<label th:if="${order.isAccumulate == true}" th:text="是"></label>
				<label th:if="${order.isAccumulate == false}" th:text="否"></label>
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-3 col-sm-3"> 自然月：</label>
			<div class="formControls col-xs-8 col-sm-8" style="padding-top: 3px;">
				[[${currentYear }]]年[[${currentMonth }]]月
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-3 col-sm-3">订单类型：</label>
			<div class="formControls col-xs-8 col-sm-8" style="padding-top: 3px;">
				<label th:if="${order.orderType == 1}" th:text="代理订单"></label>
				<label th:if="${order.orderType == 2}" th:text="零售订单"></label>
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-3 col-sm-3">订单金额：</label>
			<div class="formControls col-xs-8 col-sm-8" style="padding-top: 3px;">
				[[${order.orderPrice }]]
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-3 col-sm-3">优惠金额：</label>
			<div class="formControls col-xs-8 col-sm-8" style="padding-top: 3px;">
				[[${order.preferentialPrice }]]
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-3 col-sm-3">产品：</label>
			<div class="formControls col-xs-8 col-sm-8" style="padding-top: 3px;">
				<table class="table table-border table-bordered table-bg">
					<tr class="text-c">
						<th>产品</th>
						<th>数量</th>
						<th>单价</th>
						<th>总价</th>
						<th>赠送</th>
					</tr>
					<tr class="text-c" th:each="orderDetail : ${orderDetails}">
						<td th:each="product : ${products}" th:text="${product.productName }" th:if="${orderDetail.productId == product.id}"></td>
						<td th:text="${orderDetail.amount }"></td>
						<td th:text="${orderDetail.unitPrice }"></td>
						<td th:text="${orderDetail.totalPrice }"></td>
						<td th:text="${orderDetail.give }"></td>
					</tr>
				</table>
			</div>
		</div>
		<div class="row cl" th:if="${not #strings.isEmpty(order.remark)}">
			<label class="form-label col-xs-3 col-sm-3">备注：</label>
			<div class="formControls col-xs-8 col-sm-8" style="padding-top: 3px;">
				[[${order.remark}]]
			</div>
		</div>
	</article>
</body>
</html>