<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta name="renderer" content="webkit|ie-comp|ie-stand">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<link rel="stylesheet" type="text/css" th:href="@{/static/h-ui/css/H-ui.min.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/static/h-ui.admin/css/H-ui.admin.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/lib/Hui-iconfont/1.0.8/iconfont.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/static/h-ui.admin/skin/default/skin.css}" id="skin" />
<link rel="stylesheet" type="text/css" th:href="@{/static/h-ui.admin/css/style.css}" />
<title>代理管理</title>
</head>
<body>
	<div style="position: fixed; width: 100%;">
		<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 代理管理 <span class="c-gray en">&gt;</span> 代理列表 <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a></nav>
	</div>
	<div class="pd-20" style="padding-top: 60px;">
		<div class="text-l">
			微信昵称：<input type="text" class="input-text" style="width: 15%;" id="wechatName" name="wechatName" />
			<span style="padding-right: 5%;"></span>
			姓名：<input type="text" class="input-text" style="width: 15%;" id="name" name="name" />
			<span style="padding-right: 5%;"></span>
			手机号：<input type="text" class="input-text" style="width: 15%;" id="phone" name="phone" maxlength="11" onkeyup="pureNumber(this)" onafterpaste="pureNumber(this)" />
		</div>
		<div class="cl pd-5 bg-1 bk-gray mt-20">
    		<span class="l">
    			<span onclick="add()" class="btn btn-primary radius"><i class="Hui-iconfont">&#xe600;</i> 新代理 </span>
    		</span>
    		<span class="r">
    			<span onclick="query()" class="btn btn-success radius"><i class="Hui-iconfont">&#xe665;</i> 查询代理 </span>
    		</span>
  		</div>
  		<table id="table" class="table table-border table-bordered table-striped table-hover table-bg"/>
	</div>
</body>
</html>
<!--_footer 作为公共模版分离出去-->
<script type="text/javascript" th:src="@{/lib/jquery/1.9.1/jquery.min.js}"></script> 
<script type="text/javascript" th:src="@{/lib/layer/2.4/layer.js}"></script>
<script type="text/javascript" th:src="@{/static/h-ui/js/H-ui.min.js}"></script> 
<script type="text/javascript" th:src="@{/static/h-ui.admin/js/H-ui.admin.js}"></script>
<script type="text/javascript" th:src="@{/js/common.js}"></script> 
<!--/_footer 作为公共模版分离出去-->

<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" th:src="@{/lib/datatables/1.10.0/jquery.dataTables.min.js}"></script> 
<script type="text/javascript" th:src="@{/lib/laypage/1.2/laypage.js}"></script>
<script th:inline="javascript">
	$(function(){
		$("body").keydown(function(event) {
	        if (event.keyCode == "13") {
	        	query();
	        }
	    });
	});

	var dataTable;
	$(function(){
		dataTable = $("#table").dataTable( {
			"bLengthChange" : false, // 可改变每页显示条数
			"bFilter" : false, //过滤功能
			"bSort" : true, //排序功能
			"bAutoWidth" : false, //自适应宽度
			"bProcessing" : true, // 加载层
	        "bServerSide" : true, // 服务器获取数据
	        "iDisplayLength": page_size, // 每页显示条数
	        "aaSorting" : [6, "desc"], //默认第几个排序
			"sAjaxSource" : "/admin/proxy/query",
			"fnServerData" : retrieveData,
			"fnDrawCallback" : function(){
				this.api().column(0).nodes().each(function(cell, i) {
					cell.innerHTML =  i + 1;
				});
			},
			"aoColumns" : [
				{
				    "mData" : "id",
				    "sClass" : "text-c",
				    "bSortable" : false,
				    "sWidth" : "1%"
				}, {
                	"mData" : "wechatName",
               		"sTitle" : "微信昵称",
	                "bSortable": true,
				    "sWidth" : "4%",
				    "mRender": function(data, type, full) {
	                	return "<a title=\"代理对货\" style=\"color:blue;\" onclick=\"bill("+full.id+")\"><b>"+data+"</b></a>";
	                }
            	}, {
                	"mData" : "name",
               		"sTitle" : "姓名",
	                "bSortable": true,
				    "sWidth" : "3%"
            	}, {
                	"mData" : "phone",
               		"sTitle" : "手机号",
	                "bSortable": true,
				    "sWidth" : "4%"
            	}, {
                	"mData" : "proxyPrice",
               		"sTitle" : "代理价",
	                "bSortable": true,
				    "sWidth" : "4%",
				    "mRender": function(data, type, full) {
	                	return "<span style='color:red;'><b>"+data+"</b></span>";
	                }
            	}, {
                	"mData" : "balance",
               		"sTitle" : "钱包余额",
	                "bSortable": false,
				    "sWidth" : "4%",
				    "mRender": function(data, type, full) {
				    	if (data) {
		                	return "<span style='color:red;'><b>"+data+"</b></span>";
				    	} else {
				    		return 0;
				    	}
	                }
            	}, {
	                "mData" : "createTime",
	                "sTitle" : "代理时间",
	                "bSortable": true,
	                "sWidth" : "4%",
	                "mRender": function(data, type, full) {
	                	return data.substring(0, 10);
	                }
	            }, {
	            	"mData" : null,
	            	"sTitle" : "操作",
	            	"bSortable" : false,
	            	"sWidth" : "10%",
	            	"mRender": function(data, type, full) {
	            		var button = "<span class=\"btn btn-success radius size-MINI\" onclick=\"edit("+data.id+")\">修改</span>" +
	            			" <span class=\"btn btn-danger radius size-MINI\" onclick=\"del("+data.id+")\">删除</span>" +
	            			" <span class=\"btn btn-secondary radius size-MINI\" data-title=\"补货单列表\" data-href=\"/admin/proxy/order_list?proxyId="+data.id+"\" onclick=\"Hui_admin_tab(this)\">补货单</span>" +
	            			" <span class=\"btn btn-warning radius size-MINI\" data-title=\"发货单列表\" data-href=\"/admin/proxy/deliver_list?proxyId="+data.id+"\" onclick=\"Hui_admin_tab(this)\">发货单</span>" +
	            			" <span class=\"btn btn-primary radius size-MINI\" data-title=\"对货单列表\" data-href=\"/admin/inventory/list?proxyId="+data.id+"\" onclick=\"Hui_admin_tab(this)\">对货单</span>" +
	            			" <span class=\"btn btn-success radius size-MINI\" data-title=\"钱包列表\" data-href=\"/admin/wallet/list?proxyId="+data.id+"\" onclick=\"Hui_admin_tab(this)\">钱包</span>";
	            			//" <span class=\"btn btn-primary radius size-MINI\" onclick=\"detail("+data.id+")\">详情</span>";
	            		return button;
	            	}
	            }
	        ],	
            "oLanguage" : {
                "sProcessing" : "<img src=\"/static/h-ui.admin/images/loading.gif\"/>正在加载中......",
                "sLengthMenu" : "每页显示 _MENU_ 条记录",
                "sEmptyTable" : "无数据！",
                "sInfo" : "总共 _PAGES_ 页，当前显示 _START_ 到 _END_ 条，共 _TOTAL_ 条记录",
                "oPaginate" : {
                    "sFirst" : "首页",
                    "sPrevious" : "上一页",
                    "sNext" : "下一页",
                    "sLast" : "末页"
                }
            }
       	});
		
		// 查询数据
		function retrieveData(url, aoData, callback) {
			var data = {};

			// 分页参数
			var index = "";
			$.each(aoData, function(n, value) {
				if (value.name == "iDisplayStart") {
					data.offset = value.value;
				} else if (value.name == "iDisplayLength") {
					data.limit = value.value;
				} else if (value.name == "iSortCol_0") {
					index = value.value;
				}
			});

			// 排序参数
			var orderBy = "";
			$.each(aoData, function(n, value) {
				if (value.name == "mDataProp_"+index) {
					orderBy = value.value;
				} else if (value.name == "sSortDir_0") {
					data.orderBy = orderBy + " " + value.value;
				}
            }); 
			
			// 查询参数
			if ($("#wechatName").val()) {
				data.wechatName = $("#wechatName").val();
			}
			if ($("#name").val()) {
				data.name = $("#name").val();
			}
			if ($("#phone").val()) {
				data.phone = $("#phone").val();
			}
			
			$.ajax({
				url : url,
				data : data,
				type : "POST",
				dataType : "json",
				success : function(result) {
					if (result.code == "Y") {
						callback(result);
					} else {
						layer.alert(result.message);
					}
				}
			});
		}
	});
	
	// 新增数据
	function add() {
		var index = layer.open({
			type: 2,
			title: "添加代理",
			content: "/admin/proxy/add"
		});
		layer.full(index);
	}
	
	// 修改数据
	function edit(id) {
		layer_show("修改代理", "/admin/proxy/edit?id="+id, "", "520");
	}
	
	// 代理对货
	function bill(id) {
		layer_show("代理对货", "/admin/inventory/bill?proxyId="+id, "", "500");
	}
	
	// 代理详情
	function detail(id) {
		layer_show("代理详情", "/admin/proxy/detail?id="+id, "", "");
	}
	
	// 查询数据
	function query() {
		dataTable.fnDraw();
	}
	
	// 删除
	function del(id) {
		layer.confirm("确定要删除吗？", function(index) {
			$.ajax({
				url : "/admin/proxy/delete",
				data : {"id":id},
				type : "POST",
				dataType : "json",
				success : function(result) {
					if (result.code == "Y") {
						dataTable.fnDraw();
						layer.msg("删除成功", {icon:6, time:1000});
					} else {
						layer.alert(result.message);
					}
				}
			});
		});
	}
</script>