<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta name="renderer" content="webkit|ie-comp|ie-stand">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<link rel="stylesheet" type="text/css" th:href="@{/static/h-ui/css/H-ui.min.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/static/h-ui.admin/css/H-ui.admin.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/lib/Hui-iconfont/1.0.8/iconfont.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/static/h-ui.admin/skin/default/skin.css}" id="skin" />
<link rel="stylesheet" type="text/css" th:href="@{/static/h-ui.admin/css/style.css}" />
<title>钱包管理</title>
</head>
<body>
	<div style="position: fixed; width: 100%;">
		<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 钱包管理 <span class="c-gray en">&gt;</span> 钱包列表 <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a></nav>
	</div>
	<div class="pd-20" style="padding-top: 60px;">
		<div class="text-l">
			<input type="hidden" id="proxyId" name="proxyId" th:value="${proxy.id }" />
			微信昵称：<input type="text" class="input-text" style="width: 15%;" id="wechatName" name="wechatName" th:value="${proxy.wechatName }" disabled="disabled" />
			<span style="padding-right: 5%;"></span>
			类型：
			<span class="select-box inline"style="width: 15%;">
				<select id="type" name="type" class="select" style="width: 100%;" onchange="query()">
					<option value="">全部类型</option>
					<option value="1">存入</option>
					<option value="2">支出</option>
				</select>
			</span>
		</div>
		<div class="cl pd-5 bg-1 bk-gray mt-20">
    		<span class="l">
    			<a href="javascript:;" onclick="add()" class="btn btn-primary radius"><i class="Hui-iconfont">&#xe600;</i> 添加存款 </a>
    			<a href="javascript:;" onclick="expenses()" class="btn btn-warning radius"><i class="Hui-iconfont">&#xe6a1;</i> 消费支出 </a>
    		</span>
    		<span class="r">
    			<a href="javascript:;" onclick="query()" class="btn btn-success radius"><i class="Hui-iconfont">&#xe665;</i> 查询钱包 </a>
    		</span>
  		</div>
  		<table id="table" class="table table-border table-bordered table-striped table-hover table-bg"/>
	</div>
</body>
</html>
<!--_footer 作为公共模版分离出去-->
<script type="text/javascript" th:src="@{/lib/jquery/1.9.1/jquery.min.js}"></script> 
<script type="text/javascript" th:src="@{/lib/layer/2.4/layer.js}"></script>
<script type="text/javascript" th:src="@{/static/h-ui/js/H-ui.min.js}"></script> 
<script type="text/javascript" th:src="@{/static/h-ui.admin/js/H-ui.admin.js}"></script>
<script type="text/javascript" th:src="@{/js/common.js}"></script> 
<!--/_footer 作为公共模版分离出去-->

<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" th:src="@{/lib/datatables/1.10.0/jquery.dataTables.min.js}"></script> 
<script type="text/javascript" th:src="@{/lib/laypage/1.2/laypage.js}"></script>
<script th:inline="javascript">
	var dataTable;
	$(function(){
		dataTable = $("#table").dataTable( {
			"bLengthChange" : false, // 可改变每页显示条数
			"bFilter" : false, //过滤功能
			"bSort" : true, //排序功能
			"bAutoWidth" : false, //自适应宽度
			"bProcessing" : true, // 加载层
	        "bServerSide" : true, // 服务器获取数据
	        "iDisplayLength": page_size, // 每页显示条数
	        "aaSorting" : [4, "desc"], //默认第几个排序
			"sAjaxSource" : "/admin/wallet/query",
			"fnServerData" : retrieveData,
			"fnDrawCallback" : function(){
				this.api().column(0).nodes().each(function(cell, i) {
					cell.innerHTML =  i + 1;
				});
			},
			"aoColumns" : [
				{
				    "mData" : "id",
				    "sClass" : "text-c",
				    "bSortable" : false,
				    "sWidth" : "1%"
				}, {
                	"mData" : "price",
               		"sTitle" : "金额",
	                "bSortable": true,
				    "sWidth" : "5%",
				    "mRender": function(data, type, full) {
	                	if (full.type == 1) {
	                		return "<span style='color:blue;'><b>+"+data+"</b></span>";
	                	} else {
	                		return "<span style='color:red;'><b>-"+data+"</b></span>";
	                	}
	                }
            	}, {
                	"mData" : "type",
               		"sTitle" : "类型",
	                "bSortable": true,
				    "sWidth" : "4%",
				    "mRender": function(data, type, full) {
	                	if (data == 1) {
	                		return "<span class=\"label label-success radius\">存入</span>";
	                	} else {
	                		return "<span class=\"label label-danger radius\">支出</span>";
	                	}
	                }
            	}, {
	                "mData" : "remark",
	                "sTitle" : "备注",
	                "bSortable": false,
	                "sWidth" : "10%"
	            }, {
                	"mData" : "createTime",
               		"sTitle" : "时间",
	                "bSortable": true,
				    "sWidth" : "5%"
            	}
	        ],
            "oLanguage" : {
                "sProcessing" : "<img src=\"/static/h-ui.admin/images/loading.gif\"/>正在加载中......",
                "sLengthMenu" : "每页显示 _MENU_ 条记录",
                "sEmptyTable" : "无数据！",
                "sInfo" : "总共 _PAGES_ 页，当前显示 _START_ 到 _END_ 条，共 _TOTAL_ 条记录",
                "oPaginate" : {
                    "sFirst" : "首页",
                    "sPrevious" : "上一页",
                    "sNext" : "下一页",
                    "sLast" : "末页"
                }
            }
       	});
		
		// 查询数据
		function retrieveData(url, aoData, callback) {
			var data = {"proxyId": [[${proxy.id}]]};

			// 分页参数
			var index = "";
			$.each(aoData, function(n, value) {
				if (value.name == "iDisplayStart") {
					data.offset = value.value;
				} else if (value.name == "iDisplayLength") {
					data.limit = value.value;
				} else if (value.name == "iSortCol_0") {
					index = value.value;
				}
			});

			// 排序参数
			var orderBy = "";
			$.each(aoData, function(n, value) {
				if (value.name == "mDataProp_"+index) {
					orderBy = value.value;
				} else if (value.name == "sSortDir_0") {
					data.orderBy = orderBy + " " + value.value;
				}
            }); 
			
			// 查询参数
			if ($("#type").val()) {
				data.type = $("#type").val();
			}
			
			$.ajax({
				url : url,
				data : data,
				type : "POST",
				dataType : "json",
				success : function(result) {
					if (result.code == "Y") {
						callback(result);
					} else {
						layer.alert(result.message);
					}
				}
			});
		}
	});
	
	// 添加存款
	function add() {
		layer_show("添加存款", "/admin/wallet/add?proxyId="+[[${proxy.id}]], "", "450");
	}
	
	// 消费支出
	function expenses() {
		layer_show("消费支出", "/admin/wallet/expenses?proxyId="+[[${proxy.id}]], "", "450");
	}
	
	// 修改数据
	function edit(id) {
		layer_show("修改存款", "/admin/wallet/edit?id="+id, "", "450");
	}
	
	// 查询数据
	function query() {
		dataTable.fnDraw();
	}
	
	// 删除
	function del(id) {
		layer.confirm("确定要删除吗？", function(index) {
			$.ajax({
				url : "/admin/wallet/delete",
				data : {"id":id},
				type : "POST",
				dataType : "json",
				success : function(result) {
					if (result.code == "Y") {
						dataTable.fnDraw();
						layer.msg("删除成功", {icon:6, time:1000});
					} else {
						layer.alert(result.message);
					}
				}
			});
		});
	}
	
</script>