<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xy.wmall.mapper.DeliverDetailMapper">
	
  	<resultMap id="BaseResultMap" type="com.xy.wmall.model.DeliverDetail">
		<id column="id" property="id" />	
	    <result column="deliver_id" property="deliverId" />
	    <result column="product_id" property="productId" />
	    <result column="amount" property="amount" />
  	</resultMap>
  	
  	<!-- 表所有字段 -->
  	<sql id="Base_Column_List">
  		id, deliver_id, product_id, amount
  	</sql>
  	
  	<!-- 新增数据库记录 -->
  	<insert id="insert" parameterType="com.xy.wmall.model.DeliverDetail">
    	<selectKey resultType="java.lang.Integer" order="AFTER" keyProperty="id">
			SELECT LAST_INSERT_ID()
		</selectKey>
	    insert into t_deliver_detail
    		<trim prefix="(" suffix=")" suffixOverrides=",">
		      	<if test="id != null">
		        	id,
		      	</if>
		      	<if test="deliverId != null">
		        	deliver_id,
		      	</if>
		      	<if test="productId != null">
		        	product_id,
		      	</if>
		      	<if test="amount != null">
		        	amount,
		      	</if>
    		</trim>
    	values
    		<trim prefix="(" suffix=")" suffixOverrides=",">
      			<if test="id != null">
        			#{id},
      			</if>
      			<if test="deliverId != null">
        			#{deliverId},
      			</if>
      			<if test="productId != null">
        			#{productId},
      			</if>
      			<if test="amount != null">
        			#{amount},
      			</if>
    		</trim>
  	</insert>
  	
  	<!-- 更新数据库记录 -->
  	<update id="update" parameterType="com.xy.wmall.model.DeliverDetail">
    	update t_deliver_detail
    	<set>
			<if test="deliverId != null">
    			deliver_id = #{deliverId},
  			</if>
			<if test="productId != null">
    			product_id = #{productId},
  			</if>
			<if test="amount != null">
    			amount = #{amount},
  			</if>
    	</set>
    	<where>
    		id = #{id}
    	</where>
  	</update>
  	
  	<!-- 删除数据库记录 -->
  	<update id="delete" parameterType="com.xy.wmall.model.DeliverDetail">
    	update t_deliver_detail set is_delete = 1 where id = #{id}
  	</update>
  	
	<!-- 根据map查询 -->
  	<select id="getByMap" resultMap="BaseResultMap" parameterType="java.util.Map">
  		select
        <include refid="Base_Column_List"/>
        from t_deliver_detail
        <where>
  			<if test="id != null">
    			and id = #{id}
  			</if>
  			<if test="deliverId != null">
    			and deliver_id = #{deliverId}
  			</if>
  			<if test="productId != null">
    			and product_id = #{productId}
  			</if>
  			<if test="amount != null">
    			and amount = #{amount}
  			</if>
        </where>
  	</select>
  
  	<!-- 根据map查询-->
  	<select id="listByMap" resultMap="BaseResultMap" parameterType="java.util.Map">
  		select
        <include refid="Base_Column_List"/>
        from t_deliver_detail
        <where>
  			<if test="deliverId != null">
    			and deliver_id = #{deliverId}
  			</if>
  			<if test="deliverIds != null">
    			and deliver_id in
				<foreach collection="deliverIds" item="deliverId" open="(" separator="," close=")">
					#{deliverId}
				</foreach>
  			</if>
  			<if test="productId != null">
    			and product_id = #{productId}
  			</if>
  			<if test="amount != null">
    			and amount = #{amount}
  			</if>
        </where>
  	</select>
  	
  	<!-- 批量保存 -->
	<insert id="batchInsert" parameterType="java.util.List">
		insert into t_deliver_detail (id, deliver_id, product_id, amount)
		values 
		<foreach collection="list" index="index" item="item" separator=",">
			<trim prefix="(" suffix=")" suffixOverrides=",">
				#{item.id},
				#{item.deliverId},
				#{item.productId},
				#{item.amount},
			</trim>
		</foreach>
	</insert>
	
	<!-- 批量更新 -->
  	<update id="batchUpdate" parameterType="java.util.List">
		<foreach collection="list" index="index" item="item" separator=";">
			update t_deliver_detail
			<set>
        		<if test="item.deliverId != null">
        			deliver_id = #{item.deliverId},
        		</if>
        		<if test="item.productId != null">
        			product_id = #{item.productId},
        		</if>
        		<if test="item.amount != null">
        			amount = #{item.amount},
        		</if>
			</set>
            where id = #{item.id}
		</foreach>
	</update>
	
	<!-- 删除发货详情 -->
	<delete id="deleteByDeliverId" parameterType="java.lang.Integer">
  		delete from t_deliver_detail where deliver_id = #{deliverId} 
  	</delete>
	
</mapper>