<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xy.wmall.mapper.ProxyLevelMapper">
	
  	<resultMap id="BaseResultMap" type="com.xy.wmall.model.ProxyLevel">
		<id column="id" property="id" />	
	    <result column="proxy_id" property="proxyId" />
	    <result column="price" property="price" />
	    <result column="level" property="level" />
	    <result column="month" property="month" />
	    <result column="create_user_id" property="createUserId" />
	    <result column="create_time" property="createTime" />
	    <result column="update_user_id" property="updateUserId" />
	    <result column="update_time" property="updateTime" />
	    <result column="is_delete" property="isDelete" />
  	</resultMap>
  	
  	<!-- 表所有字段 -->
  	<sql id="Base_Column_List">
  		id, proxy_id, price, level, month, create_user_id, create_time, update_user_id, update_time, is_delete
  	</sql>
  	
  	<!-- 根据主键查询 -->
  	<select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    	select 
    	<include refid="Base_Column_List" />
    	from t_proxy_level
		where id = #{id}
  	</select>
  	
  	<!-- 新增数据库记录 -->
  	<insert id="insert" parameterType="com.xy.wmall.model.ProxyLevel">
    	<selectKey resultType="java.lang.Integer" order="AFTER" keyProperty="id">
			SELECT LAST_INSERT_ID()
		</selectKey>
	    insert into t_proxy_level
    		<trim prefix="(" suffix=")" suffixOverrides=",">
		      	<if test="id != null">
		        	id,
		      	</if>
		      	<if test="proxyId != null">
		        	proxy_id,
		      	</if>
		      	<if test="price != null">
		        	price,
		      	</if>
		      	<if test="level != null">
		        	level,
		      	</if>
		      	<if test="month != null">
		        	month,
		      	</if>
		      	<if test="createUserId != null">
		        	create_user_id,
		      	</if>
		      	<if test="createTime != null">
		        	create_time,
		      	</if>
		      	<if test="updateUserId != null">
		        	update_user_id,
		      	</if>
		      	<if test="updateTime != null">
		        	update_time,
		      	</if>
		      	<if test="isDelete != null">
		        	is_delete,
		      	</if>
    		</trim>
    	values
    		<trim prefix="(" suffix=")" suffixOverrides=",">
      			<if test="id != null">
        			#{id},
      			</if>
      			<if test="proxyId != null">
        			#{proxyId},
      			</if>
      			<if test="price != null">
        			#{price},
      			</if>
      			<if test="level != null">
        			#{level},
      			</if>
      			<if test="month != null">
        			#{month},
      			</if>
      			<if test="createUserId != null">
        			#{createUserId},
      			</if>
      			<if test="createTime != null">
        			#{createTime},
      			</if>
      			<if test="updateUserId != null">
        			#{updateUserId},
      			</if>
      			<if test="updateTime != null">
        			#{updateTime},
      			</if>
      			<if test="isDelete != null">
        			#{isDelete},
      			</if>
    		</trim>
  	</insert>
  	
  	<!-- 更新数据库记录 -->
  	<update id="update" parameterType="com.xy.wmall.model.ProxyLevel">
    	update t_proxy_level
    	<set>
			<if test="proxyId != null">
    			proxy_id = #{proxyId},
  			</if>
			<if test="price != null">
    			price = #{price},
  			</if>
			<if test="level != null">
    			level = #{level},
  			</if>
			<if test="month != null">
    			month = #{month},
  			</if>
			<if test="updateUserId != null">
    			update_user_id = #{updateUserId},
  			</if>
			<if test="isDelete != null">
    			is_delete = #{isDelete},
  			</if>
    	</set>
    	<where>
    		id = #{id}
    	</where>
  	</update>
  	
	<!-- 根据map查询 -->
  	<select id="getProxyLevel" resultMap="BaseResultMap" parameterType="java.util.Map">
  		select
        <include refid="Base_Column_List"/>
        from t_proxy_level
        <where>
  			<if test="id != null">
    			and id = #{id}
  			</if>
  			<if test="proxyId != null">
    			and proxy_id = #{proxyId}
  			</if>
  			<if test="price != null">
    			and price = #{price}
  			</if>
  			<if test="level != null">
    			and level = #{level}
  			</if>
  			<if test="month != null">
    			and month = #{month}
  			</if>
  			<if test="createUserId != null">
    			and create_user_id = #{createUserId}
  			</if>
  			<if test="createTime != null">
    			and create_time = #{createTime}
  			</if>
  			<if test="updateUserId != null">
    			and update_user_id = #{updateUserId}
  			</if>
  			<if test="updateTime != null">
    			and update_time = #{updateTime}
  			</if>
  			<if test="isDelete != null">
    			and is_delete = #{isDelete}
  			</if>
        </where>
  	</select>
  
  	<!-- 根据map查询-->
  	<select id="listProxyLevel" resultMap="BaseResultMap" parameterType="java.util.Map">
  		select
        <include refid="Base_Column_List"/>
        from t_proxy_level
        <where>
  			<if test="proxyId != null">
    			and proxy_id = #{proxyId}
  			</if>
  			<if test="price != null">
    			and price = #{price}
  			</if>
  			<if test="level != null">
    			and level = #{level}
  			</if>
  			<if test="month != null">
    			and month = #{month}
  			</if>
  			<if test="createUserId != null">
    			and create_user_id = #{createUserId}
  			</if>
  			<if test="createTime != null">
    			and create_time = #{createTime}
  			</if>
  			<if test="updateUserId != null">
    			and update_user_id = #{updateUserId}
  			</if>
  			<if test="updateTime != null">
    			and update_time = #{updateTime}
  			</if>
  			<if test="isDelete != null">
    			and is_delete = #{isDelete}
  			</if>
        </where>
        <if test="groupBy != null">
        	group by ${groupBy}
        </if>
        <if test="orderBy != null">
        	order by ${orderBy}
        </if>
  	</select>
  	
  	<!-- 批量保存 -->
	<insert id="batchInsert" parameterType="java.util.List">
		insert into t_proxy_level (<include refid="Base_Column_List"/>)
		values 
		<foreach collection="list" index="index" item="item" separator=",">
			<trim prefix="(" suffix=")" suffixOverrides=",">
				#{item.id},
				#{item.proxyId},
				#{item.price},
				#{item.level},
				#{item.month},
				#{item.createUserId},
				#{item.createTime},
				#{item.updateUserId},
				#{item.updateTime},
				#{item.isDelete},
			</trim>
		</foreach>
	</insert>
	
	<!-- 批量更新 -->
  	<update id="batchUpdate" parameterType="java.util.List">
		<foreach collection="list" index="index" item="item" separator=";">
			update t_proxy_level
			<set>
        		<if test="item.proxyId != null">
        			proxy_id = #{item.proxyId},
        		</if>
        		<if test="item.price != null">
        			price = #{item.price},
        		</if>
        		<if test="item.level != null">
        			level = #{item.level},
        		</if>
        		<if test="item.month != null">
        			month = #{item.month},
        		</if>
        		<if test="item.updateUserId != null">
        			update_user_id = #{item.updateUserId},
        		</if>
        		<if test="item.isDelete != null">
        			is_delete = #{item.isDelete},
        		</if>
			</set>
            where id = #{item.id}
		</foreach>
	</update>
	
</mapper>